<div class="jumbotron">
    <h1>The Wonka Candy Enterprise Team</h1>
    <p class="lead">A little nonsense now and then is relished by the wisest men. -Willy Wonka</p>
    <p><a href="https://sevcox.github.io/BlueBadge_TeamGitExercise/" class="btn btn-primary btn-lg">The Golden Egg &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Jump right in and have some fun</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://sevcox.github.io/BlueBadge_TeamGitExercise/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wonka NuGet Candy libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Oompa-lompa</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
<div class="jumbotron">
    <h1>Wonka Treat Tracker WebApi</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>